<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <title> 修改标题 </title>
    <style>
        * {margin: 0;padding: 0;user-select: none;-webkit-user-drag: none;}
        .box {width: fit-content;margin: 0 auto;display: flex;flex-direction: column;justify-content: center;align-items: center;}
        .box a {margin-top: -1px;}
        .box img {width: 100%;}
    </style>
</head>
<body>
<div class="box">
    <img src="/uploads/landing_1.jpg" alt="">
    <a href="/uploads/apk/GpTest_v1.0.0.0_release.apk"><img src="/uploads/landing_2.jpg" alt=""></a>
</div>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/64117a7c4247f20fefe5fc3a/1gri4cub5';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->

</body>
</html>